<div class="row course-about">
  <article class="course-about-overview col-md-9">
    <div class="hero" id="course-intro">
      <p><b><cite>Coure title</cite></b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <em>Emphasized statment goes here</em>.</p>
    </div>
    <section id="course-preview">
      <h2>Course Preview</h2>
      <iframe width="100%" height="425" src="https://www.youtube.com/embed/WAjmyllr484" frameborder="0" allowfullscreen></iframe>
    </section>
    <section id="course-about">
      <h2>Course about section heading/h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </section>
    <section id="course-outline">
      <h2>Course Outline</h2>
      <ul>
        <li>
          <h3>Lesson 1: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
        <li>
          <h3>Lesson 2: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
        <li>
          <h3>Lesson 3: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
        <li>
          <h3>Lesson 4: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
        <li>
          <h3>Lesson 5: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
        <li>
          <h3>Lesson 6: Lorem ipsum dolor sit amet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </li>
      </ul>
    </section>
    <section id="course-prerequisites">
      <h2>Prerequisites</h2>
        <ul>
          <li>List out your prereqs here.  This is a prerequesite.</li>
          <li>List out your prereqs here.  This is a prerequesite.</li>
          <li>List out your prereqs here.  This is a prerequesite.</li>
        </ul>
    </section>
    <section id="course-software">
      <h2>Software Requirements</h2>
      <p>The software requirements for this class are somewhat flexible. It makes no difference whether your computer setup is old or more modern, or whether you have the Adobe suite of design software or not. Many of the assignments can use whatever design software you are most familiar with. That being said, here's what you'll need:</p>
        <ul>
          <li>Requirement 1 is this important tool</li>
          <li>A text editor built for HTML/CSS (We suggest <a href="http://atom.io" target="_blank" class="gym-link">Atom</a>, it’s free, and available for Mac, Windows, and Linux)</li>
          <li>Google Chrome web browser</li>
        </ul>
    </section>
  </article>

  <div class="col-md-3">
    <section class="course-about-sidebar">
      <div id="course-audience">
        <h2>This Course is For</h2>
          <ul>
            <li>Lorem lorem ipsum</li>
            <li>Lorem Ipsum Dolor</li>
            <li>Dolor sit amet lorem ipsum</li>
          </ul>
      </div>
      <section class="course-instructor" id="course-instructor">
        <h2>Meet the Instructor</h2>
        <article>
          <!-- Replace with better quality version, maybe srcset 1x 2x -->
          <img src="/path/to/image.png" alt="Instructor name" class="img-responsive">
          <h3>Instructor name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </section>
    </section>
  </div>
</div>
