<p>
 This section contains a handout for each lesson as well as any relevant lesson files. The handout includes a list of the core concepts, a list of assignments, a list of readings and resources and a transcript.
</p>
<dl>
  <dd><a href="https://www.dropbox.com/s/yk6vyvizqcju1i1/CFD_All_Course_Assets.zip?dl=0" target="_blank">Download a zip file of all student assets</a></dd>
</dl>
<dl>
  <dt>Lesson 1</dt>
  <dd><a href="https://www.dropbox.com/s/gsokfjtxpqqfvbg/CFD_Lesson_01_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
</dl>
<dl>
  <dt>Lesson 2</dt>
	<dd><a href="https://www.dropbox.com/s/eezpub5kcevrmvs/CFD_Lesson_02_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
</dl>
<dl>
  <dt>Lesson 3</dt>
    <dd><a href="https://www.dropbox.com/s/o6a8z7qatq63tga/CFD_Lesson_03_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
    <dd><a href="https://www.dropbox.com/s/c988zg8o0cvxs8r/CFD_Lesson_03_Homework_Files.zip?dl=0" target="_blank">Files</a></dd>
</dl>
<dl>
  <dt>Lesson 4</dt>
    <dd><a href="https://www.dropbox.com/s/vc8othehkie5ryy/CFD_Lesson_04_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
		<dd><a href="https://www.dropbox.com/s/g2jf9f33ge9zklb/CFD_Lesson_04_Homework_Files.zip?dl=0" target="_blank">Files</a></dd>
</dl>
<dl>
  <dt>Lesson 5</dt>
	<dd><a href="https://www.dropbox.com/s/wnhqltikpqh43jw/CFD_Lesson_05_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
	<dd><a href="https://www.dropbox.com/s/gubud23jmq40xlb/CFD_Lesson_05_Homework_Files.zip?dl=0" target="_blank">Files</a></dd>
</dl>
<dl>
  <dt>Lesson 6</dt>
  <dd><a href="https://www.dropbox.com/s/s9yehxdyd7ykj6p/CFD_Lesson_06_Handout.pdf?dl=0" target="_blank">Handout</a></dd>
	<dd><a href="https://www.dropbox.com/s/xubzhfawxu9d0n9/CFD_Lesson_06_Homework_Files.zip?dl=0" target="_blank">Files</a></dd>
</dl>
