<header class="hero">
  <h1>Syllabus</h1>
  <p>This course consists of a series of video lessons (30-45 mins each), assignments, and quizzes. There is also a final exam to test what you’ve learned.</p>
</header>

<section class="course-navigation">
  <h2>Navigating The Course</h2>
  <ul>
  	<li>The course videos can be found under <b>Courseware</b>.</li>
  	<li>Lesson handouts, including assignments and any relevant files can be found under <b>Course Info</b>.</li>
  	<li>Completed assignments should be posted to the <b>Forum</b> section. The Forum section is also a place where you can connect with other students, the instructor(s) and teaching assistants.</li>
  </ul>
</section>

<section class="course-grading">
  <h2>Grading Policy (Quizzes, Final Exam and Certificates)</h2>
  <ul>
    <li>
      <h3>Quizzes:</h3>
      <p>Each lesson has a quiz that will test your comprehension of the material. Quizzes are strictly optional, you may take them as many times as you like and they are not required in order to progress to the next lesson. Answers to quiz questions are visible by clicking “Show Answer” (but only after attempting to answer all questions). The score you receive is solely for your own benefit, we do not record these grades and they do not “count” toward a certificate.</p>
    </li>
    <li>
      <h3>
        Final Exam
      </h3>
      <p>The Final Exam can be taken at any point during the course, for obvious reasons we suggest leaving it until the end!</p>
      <ul>
        <li>The final exam is not timed.</li>
        <li>A score of 85% or higher will result in a Certificate of Excellence (see below for details)</li>
        <li> You have two attempts to pass the final exam. In rare circumstances (such as technical difficulties) we are able to reset your attempts, but in general we’re not in the habit of doing it, so make them count!</li>
      </ul>
    </li>
    <li>
      <h3>
        Certificate of Excellence:
      </h3>
      <p>Certificates are issued by Aquent Gymnasium and Accredible. Once you pass the final exam you will receive an email with a permanent link to the certificate. In addition to proving completion of the course, this certificate will also list the various skills you have mastered.</p>
    </li>
  </ul>
</section>

<section class="course-outline">
  <h2>Course Outline</h2>
  <ul>
    <li>
      <h3>
       Lesson 1: How Web Design is Different From Print Design
      </h3>
      <p>An introduction to design principles on the web. We’ll explore examples and discuss context, but won’t begin coding yet.</p>
    </li>

    <li>
      <h3>
       Lesson 2: “Hello World,” Coding Pages, and Fixing Problems
      </h3>
      <p>An introduction to coding HTML5 and CSS. We’ll set up our tools and start building pages.</p>
    </li>
    <li>
      <h3>
       Lesson 3: Page Layout and Color With CSS
      </h3>
      <p>A deep-dive into CSS and how to merge visual design with website language. We’ll cover layout boxes, shapes, color, and the basics of page layout.</p>
    </li>
    <li>
      <h3>
       Lesson 4: Typography on the Web
      </h3>
      <p>A focused introduction to what can (and can’t) be done with type on web pages. We’ll cover typefaces and licensing, sizing type, leading and kerning, and drop shadows.</p>
    </li>
    <li>
      <h3>
       Lesson 5: Create a Mobile Website
      </h3>
      <p>The “mobile first” philosophy and why it’s useful for web designers. We’ll cover buttons, links, and scrolling layouts.</p>
    </li>
    <li>
      <h3>
       Lesson 6: Create a Complete Website With Twitter Bootstrap
      </h3>
      <p>It’s time to apply for the final project: building a desktop website from a comp with the help of the very popular Twitter Bootstrap framework.</p>
    </li>
  </ul>
</section>
