In this course, you’ll learn best practices for building <strong>responsive</strong> websites that adapt to different devices and user behaviors.

<div class="row">
  <div class="col-md-6">
    <dl>
      <dt>Skills Covered</dt>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
    </dl>
  </div>

  <div class="col-md-6">
    <dl>
      <dt>This course is for </dt>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
      <dd><span>Lorem ipsum dolor</span></dd>
    </dl>
  </div>

</div>
